spring:
  application:
     name: userservice
  datasource:
    url: jdbc:postgresql://localhost:5432/FitnessUserDB
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update


    database-platform: org.hibernate.dialect.PostgreSQLDialect