spring:
  application:
    name: ai-service

  mongodb:
    uri: mongodb://localhost:27017/fitnessRecommendation
    database: fitnessRecommendation

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest





server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/




rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking